html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Oferta_menu {
    color: aqua;
}

.display-4{
    padding: 50px;
}
.card-img-top {
    width: 100%;
    height: auto;/*100%; 15vw;*/
    object-fit: cover;
}
/*for viewports less than "md" add an extra margin.*/
@media (max-width: 767.98px) {
    .oferta_top {
        margin-top: 3rem;
    }
}

h6{
    padding-bottom: 20px;
    padding-top: 20px;
    font: bold;
}
/*Makes the text float to the right of the image*/
/*.right{
    float:right;
}*/
.tuja-opis{
    float:right;
}