html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Oferta_menu {
    color: aqua;
}

.display-4{
    padding: 50px;
}
.card-img-top {
    width: 100%;
    height: auto;/*100%; 15vw;*/
    object-fit: cover;
}
/*for viewports less than "md" add an extra margin.*/
@media (max-width: 767.98px) {
    .oferta_top {
        margin-top: 3rem;
    }
}

h6{
    padding-bottom: 20px;
    padding-top: 20px;
    font: bold;
}
/*Makes the text float to the right of the image*/
/*.right{
    float:right;
}*/
.tuja-opis{
    float:right;
}
form {
    width: 100%;
    background-color:none;
    color: black;
    font-size: 15px;
    border: initial;
    border-radius: 5px;
}
/*output#calculatorResult {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}*/
/**/
#outcome {
    text-align: center;
    padding-top:0px;
    padding-bottom:0px;
}
/*
span{
    padding:10px;
}*/
/*
span#resultConiferName{
    padding:10px;
}*/
/*resultArea{
    text-align:center;
}*/
h5{
    text-align:center;
    padding-bottom:20px;
}
p#compliment{
    text-align:center;
}
/*#Recommendation{
    margin:0px;
    padding:0px;
}*/
p#outcome{
    margin:0px;
}
#Recommendation{
    padding-top:10px;
    padding-bottom:10px;
}
#button {
    background-color: #63a621;
}
card-body {
    border: 3px solid #63a621;
}

/*
    Specifying the properties that zoom in the images on hover.
*/
.photo {
    width: 400px;
    height: 350px;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}

.photo:hover img {
    transform: scale(1.7);
}
.tab {
    display: inline-block;
    margin-left: 30px;
}