
<hr />
<h6>Sprawdźcie nasze pozostałe produkty</h6>
<ul>
    <li><a asp-page="/Oferta/TujaSmaragd">Tuja Smaragd</a></li>
    <li>
        <a asp-page="/Oferta/Jodłakoreańska">Jodła koreańska</a>
    </li>
    <li>
        <a asp-page="/Oferta/JalowiecSkyrocket">Jałowiec Skyrocket</a>
    </li>
</ul>
