<hr />
<h6><b>Nasze pozostałe iglaki</b></h6>

<div class="card-group">
    <div class="card">
        <a asp-page="/Oferta/TujaSmaragd">
            <img src="~/images/oferta_images/dsc07319.jpg" class="card-img-top" alt="Tuja Smaragd">
        </a>
        <div class="card-body">
            <h5 class="card-title"><a asp-page="/Oferta/TujaSmaragd">Tuja Smaragd</a></h5>
            <p class="card-text">Soczyście zielona Tuja idealna na żywopłoty!</p>
       
        </div>
    </div>
    <div class="card">
        <a asp-page="/Oferta/Jodłakoreańska"><img src="~/images/oferta_images/dsc07424.jpg" class="card-img-top" alt="Jodła koreańska"></a>
        <div class="card-body">
            <h5 class="card-title"><a asp-page="/Oferta/Jodłakoreańska">Jodła koreańska</a></h5>
            <p class="card-text">Jodła z dwukolorowym igliwiem majestatycznie prezentująca się w ogrodzie!</p>
   
        </div>
    </div>
    <div class="card">
        <a asp-page="/Oferta/JalowiecSkyrocket"><img src="~/images/oferta_images/dsc07418.jpg" class="card-img-top" alt="Jałowiec Skyrocket"></a>
        <div class="card-body">
            <h5 class="card-title"><a asp-page="/Oferta/JalowiecSkyrocket">Jałowiec Skyrocket</a></h5>
            <p class="card-text">Niebieskozielony jałowiec wspaniale prezentujący się w szpalerze!</p>
    
        </div>
    </div>
</div>
