@page
@inject IOptions<TrendyPlantsOptions> ApplicationOptions
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<meta name="google-site-verification" content="@ApplicationOptions.Value.GoogleSiteVerification" />
<div class="text-center">
    <h1 class="display-4">Witamy w naszej szkółce!</h1>
    <p><a asp-page="/Oferta/Index"><img class="img-fluid" src="~/images/dsc07304.jpg" /></a></p>
    <a class="display-4" style="text-decoration: none"  asp-page="/Oferta/Index">Oferta</a>
</div>
<body>
    google-site-verification: googled8ac7ec183634f80.html
</body>