@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Witamy w naszej szkółce!</h1>
    <p><a asp-page="/Oferta/Index"><img class="img-fluid" src="~/images/dsc07304.jpg" /></a></p>
    <a class="display-4" style="text-decoration: none"  asp-page="/Oferta/Index">Oferta</a>
</div>