@page
@model TrendyPlants.Pages.JsModel
@{
    ViewData["Title"] = "Kalkulator szpalerów";

}

<form name="subscribForm" onsubmit="return false">

    Podaj długość ogrodzenia w metrach<br>
    <input type="text" name="fencelength" id="fencelength">
    <br />
    <br />
    <br />

    <input type="submit" value="Oblicz" onclick="CalculateConiferDensity()">
    <br />
    <br />
    <br />
</form>
<div id="resultArea" style="visibility:hidden">
    <p>
        Na to ogrodzenie potrzeba<br />
        <output type="number" name="number" id="calculatorResult" style="font-weight:lighter;font-size:3em"></output>
        <span>
            <br />sztuk Tui
            Smaragd
        </span>
    </p>
</div>




<script>
    function CalculateConiferDensity() {

        let length = Number(document.getElementById("fencelength").value);
        let distance = .90;
        let total = length / distance;
        let ceilingTotal = Math.ceil(total);


        console.log(total);
        console.log(ceilingTotal);


        let calculatorResult = document.getElementById("calculatorResult");
        calculatorResult.innerHTML = ceilingTotal;
        document.getElementById("resultArea").style.visibility = "visible";
    }
</script>
<script src="~/js/NumberOfConifersPerLengthCalculator.js" asp-append-version="true"></script>

