@page
@model TrendyPlants.Pages.KalkulatorSzpalerówModel
@{
    ViewData["Title"] = "Kalkulator szpalerów";
}

<div id="kalkulator" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-auto">
        <div class="card h-100" style="border:none">
            <div class="card-body">
                <h5 class="card-title">Kalkulator szpalerów</h5>
                <p class="card-text">Przy pomocy naszego kalkulatora obliczysz ile iglaków trzeba do posadzenia przy ogrodzeniu.</p>
                <form name="subscribeForm" onsubmit="return false">

                    Podaj długość ogrodzenia (w metrach)<br /> <br />
                    <input type="number" name="fencelength" class="form-control" id="fencelength" min="1" max="10000" required placeholder="długość">
                    <span class="text-danger field-validation-error"><span id="metreError" style="display:none">Minimalna długość to 1</span></span>
                    <br />

                    <br /> <br />
                    <p> Wybierz iglaka z listy</p>

                    <select id="conifers" class="form-select">
                        <option value="iglak">Iglak</option>
                        <option value="tujaSmaragd">Tuja Smaragd</option>
                        <option value="jodlaKoreanska">Jodła koreańska</option>
                        <option value="jalowiecSkyrocket">Jałowiec Skyrocket</option>
                    </select>
                    <span class="text-danger field-validation-error"><span id="coniferError" style="display:none">Wybierz iglaka z oferty</span></span>

                    <br />
                    <br />
                    <br />
                    <input id="button" type="submit" class="btn btn-primary" value="Oblicz" onclick="CalculateConiferDensity();">
                    <br />
                    <br />
                    <br />

                </form>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="card h-100" style="border:none">
            <div class="card-body">
                <div style="visibility:hidden" id="resultArea">
                    <h5 id="Recommendation" class="card-title">Nasza rekomendacja</h5>
                    <p id="outcome">
                        <output type="number" name="number" id="calculatorResult" style="font-weight:500;font-size:4em; color:forestgreen"></output>
                    </p>
                    <h5><span id="resultConiferName"></span> w szpalerze</h5>
                    <div id="tuja1" style="display:none">
                        <img src="~/images/tuja1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div id="jodla1" style="display:none">
                        <img src="~/images/jodlakoreanska.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div id="jalowiec1" style="display:none">
                        <img src="~/images/jalowiecskyrocketnew.jpg" class="img-fluid rounded-start" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    initialiseCalculator();
</script>

<partial name="_Oferta_template" />


