@page
@model TrendyPlants.Pages.OnasModel
@{
    ViewData["Title"] = "O nas";
}


<h1>@ViewData["Title"]</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <img style="max-width:50%" class="float-end m-3" src="~/images/DOMwOnas.jpg" alt="Szkółka iglaków" />
            <p>
                Naszą szkółkę założyliśmy na początku dwutysięcznego roku. Od samego początku zajmujemy się sprzedażą roślin oraz
                fachowym doradztwem w kwestii urządzania ogrodów. Nasza szkółka jest działalnością rodzinną, jednak kluczową rolę odgrywa w niej wykształcenie ogrodnicze oraz kilkudziesięcioletnie doświadczenie w uprawie oraz sprzedaży roślin ozdobnych jej założyciela.
                <br />
                <br />
                Od wielu lat doradzamy naszym klientom jak sadzić rośliny, na co zwrócić uwagę w ich pielęgnacji, w jaki sposób zagwarantować ich harmonijny rozwój oraz dopasować poszczególne rośliny do otoczenia klientów, tak aby prezentowały się jak najatrakcyjniej przez cały rok.
                Zarówno adres naszej oficjalnej strony internetowej jak i nasza działalność pochodzą od angielskiego słowa <em>conifer</em>, które oznacza iglaka.
                <br />
                <br />
                Zapraszamy serdecznie do naszej szkółki, w której oferujemy zdrowe, odporne na temperatury klimatu kontynentalnego (upalne lata, mroźne zimy) rośliny, a dzięki naszemu doradztwu w zakresie pielęgnacji, rośliny u nas nabyte osiągną duże roczne przyrosty i ozdobią każdy ogród, skarpę czy rabatę przyciągając uwagę każdego przechodnia głębią swojej zieleni oraz zdrowym wyglądem.
            </p>


        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/Oferta_Images/DSC07319.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption  d-block">
                            <h5>Tuja Smaragd</h5>
                            @*<p>Iglak soczyście zielony idalny na żywopłoty i szpalery</p>*@
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/Oferta_Images/DSC07424.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption  d-block">
                            <h5>Jodła koreańska</h5>
                            @*<p>Iglak dekorujący wyeksponowane miejsce</p>*@
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/Oferta_Images/DSC07418.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption  d-block">
                            <h5>Jałowiec Skyrocket</h5>
                            @*<p>Iglak niebieskozielony idalny na żywpołoty i szpalery</p>*@
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

</div>


















