@page
@model TrendyPlants.Pages.OnasModel
@{
    ViewData["Title"] = "O nas";
}

<h1>@ViewData["Title"]</h1>
<br />
<div class="container">
    <div class="row">

        <div class="col-md-7">
            <div class="c">
                <p>
                    Naszą szkółkę założyliśmy na początku dwutysięcznego roku. Od samego początku zajmujemy się sprzedażą roślin oraz
                    fachowym doradztwem w kwestii urządzania ogrodów. Nasza szkółka jest działalnością rodzinną, jednak kluczową rolę odgrywa w niej wykształcenie ogrodnicze oraz kilkudziesięcioletnie doświadczenie w uprawie oraz sprzedaży roślin ozdobnych jej założyciela.
                </p>
            </div>
            <div class="c">
                <p>
                    Od wielu lat doradzamy naszym klientom jak sadzić rośliny, na co zwrócić uwagę w ich pielęgnacji, w jaki sposób zagwarantować ich harmonijny rozwój oraz dopasować poszczególne rośliny do otoczenia klientów, tak aby prezentowały się jak najatrakcyjniej przez cały rok.
                    Zarówno adres naszej oficjalnej strony internetowej jak i nasza działalność pochodzą od angielskiego słowa <em>conifer</em>, które oznacza iglaka.
                </p>
            </div>
            <div class="c">
                <p>Zapraszamy serdecznie do naszej szkółki, w której oferujemy zdrowe, odporne na temperatury klimatu kontynentalnego (upalne lata, mroźne zimy) rośliny, a dzięki naszemu doradztwu w zakresie pielęgnacji, rośliny u nas nabyte osiągną duże roczne przyrosty i ozdobią każdy ogród, skarpę czy rabatę przyciągając uwagę każdego przechodnia głębią swojej zieleni oraz zdrowym wyglądem.</p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="~/images/DOMwOnas.jpg" alt="Responsive image" />
        </div>

    </div>
</div>





