@page
@model TrendyPlants.Pages.Oferta.IndexModel
@{
    ViewData["Title"] = "Oferta";
}

<h1>Oferta</h1>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="text-center fs-4">
            <a class="text-decoration-none" asp-page="/Oferta/TujaSmaragd">Tuja Smaragd</a>
        </div>
        <a asp-page="/Oferta/TujaSmaragd"><img src="~/images/oferta_images/dsc07319.jpg" class="img-fluid mt-5" alt="Thuja Smaragd" /></a>
    </div>

    <div class="col-md-4">
        <div class="text-center fs-4">
            <a class="text-decoration-none" asp-page="/Oferta/Jodłakoreańska">Jodła koreańska</a>
        </div>
        <a asp-page="/Oferta/Jodłakoreańska"><img src="~/images/oferta_images/dsc07424.jpg" class="img-fluid mt-5" alt="Jodła koreańska" /></a>
    </div>

    <div class="col-md-4">
        <div class="text-center fs-4">
            <a class="text-decoration-none" asp-page="/Oferta/JalowiecSkyrocket">Jałowiec Skyrocket</a>
        </div>
        <a asp-page="/Oferta/JalowiecSkyrocket"><img src="~/images/oferta_images/dsc07418.jpg" class="img-fluid mt-5" alt="Jałowiec Skyrocket" /></a>
    </div>
</div>
