@page
@model TrendyPlants.Pages.Oferta.JalowiecSkyrocketModel
@{
    ViewData["Title"] = "Jalowiec Skyrocket";
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                <em>Juniperus scopulorum „Skyrocket”</em>, bliżej znany jako jałowiec „Skyrocket” jest iglakiem smukłym, strzelistym i idealnie nadającym się na szpaler. W pierwszych kilku latach od posadzenia roślina jest wąska, a w miarę upływu czasu robi się coraz szersza. Ulistnienie ma kolor niebieskozielony oraz łuskowaty kształt co sprawia, że jest szorstkie w dotyku. Gałązki iglaka są silne, pionowe. Jałowiec idealnie nadaje się do sadzenia w rzędzie lub grupie dzięki czemu zastąpi rośliny takie jak cyprysy, które często nie nadają się do naszego klimatu.
                <br />
                <br />
                <b> Osiągane rozmiary </b>
                <br />
                <br />Wysokość: 2,5-3m
                <br />Szerokość: 30cm
                <br />Ostateczna Wysokość: 8-10m
                <br />Ostateczna Szerokość: 30-45cm
            </p>
            <partial name="_Oferta_template" />

        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="~/images/DSC07291.jpg" class="img-fluid img-thumbnail" />
        </div>
    </div>
</div>
