@page
@model TrendyPlants.Pages.Oferta.JalowiecSkyrocketModel
@{
    ViewData["Title"] = "Jałowiec Skyrocket";
}


<h1>@ViewData["Title"]</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <img style="max-width:50%" class="float-end m-3" src="~/images/DSC07291.jpg" alt="Jałowiec w rzędach" />
            <p>
                <em>Juniperus scopulorum „Skyrocket”</em>, bliżej znany jako jałowiec „Skyrocket” jest iglakiem smukłym, strzelistym i idealnie nadającym się na szpaler. W pierwszych kilku latach od posadzenia roślina jest wąska, a w miarę upływu czasu robi się coraz szersza. Ulistnienie ma kolor niebieskozielony oraz łuskowaty kształt co sprawia, że jest szorstkie w dotyku. Gałązki iglaka są silne, pionowe. Jałowiec idealnie nadaje się do sadzenia w rzędzie lub grupie dzięki czemu zastąpi rośliny takie jak cyprysy, które często nie nadają się do naszego klimatu.
                <br />
                <br />
                <hr/>
            <p class="tab"><b>Osiągane wymiary</b></p>
            <br />

            <p class="tab">
                Wysokość: 8-10m
                <br />
                Szerokość: 0,3-0,45m
                <br />
            </p>
            <p class="tab">
                <b>W naszej szkółce oferujemy Jałowce "Skyrocket" o wysokości 2m.</b>
            </p>
            <hr />
            <br />
            <br />
     @*       <b> Osiągane wymiary </b>
                <br />
                <br />
                <br />Wysokość: 8-10m
                <br />Szerokość: 30-45cm
            </p>
            <p class="tab">
                W naszej szkółce oferujemy Jałowce "Skyrocket" o wysokości 2m.
            </p>*@
        </div>
    </div>
</div>
<partial name="_Oferta_template" />

