@page
@model TrendyPlants.Pages.Oferta.JodłakoreańskaModel
@{
    ViewData["Title"] = "Jodła koreańska";
}


<h1>@ViewData["Title"]</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <img style="max-width:50%" class="float-end m-3" src="~/images/DSC07362.jpg" alt="Jodła w rzędach" />
            <p>
                Jodła koreańska <em>Abies Koreana</em>

                to wspaniała roślina o dużych walorach ozdobnych, rośnie powoli, tworząc wąski, symetryczny stożek z lśniącym, dwukolorowym igliwiem. Igły od góry są błyszczące, od spodu srebrzyste dzięki czemu wspaniale ze sobą kontrastują, dodatkowo są one niezwykle łagodne i miłe w dotyku, a po roztarciu uwalniają przyjemny cytrynowy zapach. Gałęzie rośliny układają się w charakterystyczne poziomy nadając jej wyraźny kształt. Większość roślin w ciągu pierwszych kliku lat wytwarza sterczące, niebieskofioletowe szyszki, które nadają okazowi iście majestatyczny wygląd. Gatunek jest odporny na warunki naszego klimatu, dobrze rośnie w żyznych glebach i prezentuje się niezwykle atrakcyjnie w ogrodach, na skarpach oraz innych eksponowanych miejscach.
                <br />
                <br />
                <b>Osiągane wymiary</b>
                <br />
                <br />
                Wysokość: 1,8-3m
                <br />
                Szerokość: 1,2-1,5m
                <br />
                Ostateczna wysokość: 8-12m
                <br />
                Ostateczna szerokość: 5-7m
                <br />
            </p>
        </div>
    </div>
</div>
<partial name="_Oferta_template" />

