@page
@model TrendyPlants.Pages.Oferta.TujaSmaragdModel
@{
    ViewData["Title"] = "Tuja Smaragd";
}


<h1>@ViewData["Title"]</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <img style="max-width:50%" class="float-end m-3" src="~/images/DSC07379.jpg" alt="Tuja Smaragd w rzędach" />
            <p>
                <em>Thuja occidentalis ‘Smaragd’</em> zwana potocznie Tują Szmaragd jest zdecydowanie jednym z najpopularniejszych iglaków w Polsce. Tuja ta ma uniwersalne zastosowanie, ponieważ prezentuje się okazale zarówno pojedynczo, wkomponowana w przydomowy ogród, na miejskim placu, przy pomniku na cmentarzu jak i w rzędzie tworząc bujny, soczysto zielony żywopłot. Od lat cieszy się niesłabnącym zainteresowaniem klientów w naszym kraju min., dlatego że sadzi się ją wzdłuż płotów w celu zapewnienia prywatności mieszkańcom posesji.
                <br />
                <br />
                Tuja ma jasnozielone, delikatne w dotyku koronkowe pędy, które mają głębszą barwę niż igły. W przeciwieństwie do innych żywotników nie brązowieje w okresie zimowym. Kształtem przypomina kolumnę lub piramidę i w pierwszych kilku latach od posadzenia nie wymaga przycinania. W miarę zagęszczania się pędów należy dokonać tego zabiegu co pozwala na dowolne formowanie tui, a tym samym, jej kształt w dużej mierze zależeć będzie od kreatywności ogrodnika.
                <br />
                <br />
                <hr />
            <p class="tab"><b>Osiągane wymiary</b></p>
            <br />

            <p class="tab">
                Wysokość: 1,8-2,5m
                <br />
                Szerokość: 0,6-0,75m
                <br />
            </p>
            <p class="tab">
                <b>W naszej szkółce oferujemy Thuje Smaragd o wysokości 1m-2m.</b>
            </p>
            <hr />
            <br />
            <br />
        
            <div class="container">
                <div class="row">
                    <div class="col photo">
                        <img src="~/images/Resized_images/Resized-gallery/Thuja_duza__20230712_182358.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col photo">
                        <img src="~/images/Resized_images/Resized-gallery/Thuja_duza1_20230712_182424.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
                <div class="row">
                    <div class="col photo">
                        <img src="~/images/Resized_images/Resized-gallery/thuja_rzad4H_20230712_182410.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col photo">
                        <img src="~/images/Resized_images/Resized-gallery/Thuja_duza_20221023_150353.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<br />
<br />
<br />

<partial name="_Oferta_template" />
